.checkout-container {
    background: red;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;

    .info-user-form {
        background: tomato;
        background-color: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40vw;
        transition: all ease 800ms;
        flex-grow: 1;


        .image_product {
            width: 22vw;
        }
    }

    .product-view-container {
        background: teal;
        min-width: 310px;
        display: flex;
        flex-shrink: 0;
    }
}

// .colorrr {
//     background-color: #fbfbfb;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     height: 40vw;
//     transition: all ease 800ms;
// }

// .image_product {
//     width: 22vw;
// }

// .space {
//     margin-bottom: 15px;
// }

// .title {
//     text-transform: uppercase;
// }

// .btn_buy {
//     background-color: rgb(63, 214, 57);
//     border : none ;
//     color : white;
//     padding: 10px;
// }

// .btn_buy:hover {
//     background-color: rgb(60, 165, 56);
// }

// .btn_buy:active {
//     background-color: rgb(46, 131, 43);
// }