.product-container {
  .container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
  }
  
  .stacked {
    display: grid;
  }
  
  .stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .product-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
  
  .card {
    aspect-ratio: 1 / 1.5;
    /* border: 3px solid hotpink; */
  }
  
  .card__content {
    background: var(--dark--600);
    align-self: end;
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
    color: var(--light);
    overflow: hidden;
  }
  
  .card__title {
    font-size: 1.25rem;
    line-height: 1.1;
    color: var(--primary);
  }
  
  .card__price {
    font-size: 1.75rem;
  }
  
  .card__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
  }
  .NotSearchFoundProducts{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    height: 100%;
    white-space: pre;
    line-height: 100%;
    overflow: visible;
    h1{
      color: var(--light--200);
      font-size: 23px;
    } 
    h3{
      color: var(--light--200);
      font-size: 20px;
    }
    svg{
        fill: var(--light--200);
    }
  }
}

@media (min-width: 60em) {

  .product-container {

    .card__img {
      aspect-ratio: 1 / 1;
    }
  
    .card.featured {
      grid-row: span 2;
      grid-column: span 2;
    }
  
    .card.featured .card__img {
      aspect-ratio: 1 / 1.25;
    }
  
    .card.featured .card__title {
      font-size: 1.75rem;
    }
  }
}

.main-title {
  font-size: clamp(2rem, 5vw + 1rem, 5rem);
  line-height: 1;
  color: white;
  background: linear-gradient(-45deg, blue, red);
  padding: 0.125em 0.5em;
  margin-bottom: 1em;

  width: fit-content;
}

p.max-content {
  width: max-content;
}

p.min-content {
  width: min-content;
}

.cart-icon {
  margin-right: 10px;
}

.PopUpText {
  display: inline;
}