.text {
    color: #FFF;
    width: 100px;
  }
  
  .confirmButton {
    background: var(--primary);
    color: #FFF;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 100vh;
    font-size: 17px;
  }
  
  .divSignIn {
    cursor: pointer;
  }