.user-buttons {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--dark--800);
  z-index: 3;
  flex-shrink: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 21, 21, 0.864);
  z-index: 888;
  transition: opacity 1s;
  opacity: 1;
  /* visibility: hidden; */
}

.hidden-overlay {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 1s;
}

.shopping-card-container {

  .shopping-card-outer {
    background: rgba(26, 26, 26, 0.841);
    width: 100%;
  }

  .shopping-card {
    position: fixed;
    top: 0;
    right: 0;
    width: 38em;
    background: var(--primary);
    height: 100vh;
    z-index: 999;
    transition: 1s;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    
    .ProductTotalInfoContainer{
      display: flex;
      background-color: var(--light--200);
      border-radius: 15px;
      .ImageSoppingCartContainer{
        img {
          border-radius: 15px;
          height: 25vh;
          width: 25vh;
          object-fit: cover;
        }
      }
      .ProductInformationShoppingCart{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-bottom: 10px;
        .NameAndQuantity{
          margin-top: 20px;
          h4{
            text-align: center;
            margin-top: 15px;
          }
        }
        .ButtonsInsideTheProduct{
          background: var(--primary);
          color: #FFF;
          border: none;
          border-radius: 100vh;
          font-size: 14px;
          margin-right: 10px;
          padding: 6px;
          width: 75px;
        }
      }
    }
  }
  
  .ButtonsOutside{
    display: flex;
    .ButtonsOutsideTheProduct{
      background-color: var(--dark--800);
      color: #FFF;
      border: none;
      border-radius: 100vh;
      font-size: 14px;
      padding: 4px;
      width: 90px;
      display: inline;
      margin-top: 5px;
      margin-left: 25px
    }
}

  .active {
    transform: translate(100%);
    transition: 1s;
  }
}

.confirmButtonBUY{
  background: var(--primary);
  color: #FFF;
  border: none;
  border-radius: 100vh;
  font-size: 14px;
  margin-right: 10px;
  padding: 6px;
  width: 90px;
}

@media only screen and (max-width: 600px)  {
  .shopping-card-container {
    .shopping-card {
      width: 100vw;
    }
  }

}