.side-bar-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width .4s ease-in-out;

  .logo {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    height: 60px;
    line-height: 68px;
    letter-spacing: 4px;
    background: var(--dark--800);
    /* position: sticky; */
    /* top: 0; */
  
  }

  .side-wrapper {
    padding: 30px;

    .side-title {
      font-family: "DM Sans", sans-serif;
      color: #5c5e6e;
      font-size: 17px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .side-menu {
      display: flex;
      flex-direction: column;
      font-size: 17px;
      white-space: nowrap;

      a {
        font-family: "DM Sans", sans-serif;
        /* font-weight: 600; */
        text-decoration: none;
        color: #9c9cab;
        display: flex;
        align-items: center;
      }

      a:not(:last-child) {
        margin-bottom: 20px;
      }

      svg {
        margin-right: 16px;
      }
    }
  }

  .icons {
    color: var(--light);
    display: flex;
    gap: 1.2em;
    align-items: center;
    transition: padding  .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation: icon .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    h2 {
      font-weight: 600;
      font-size: 15px;
    }
  }

  .popular {
    border-top: 1.5px solid var(--light--200);
  }

  .cap {
    animation: icon .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    overflow-y: auto;
  }
}

.hide {
  display: flex;
  flex-direction: column;
  gap: 2em;
  grid-area: one;
  width: 3em;
  overflow: hidden;
  background: var(--dark--600);
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1.2em;
  transition: width .4s ease-in-out;

  .icons {
    animation: icons .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  h2 {
    display: none;
  }
}


@keyframes icons {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}

@keyframes icon {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}


@media screen and (max-width: 930px) {
  .App {
    grid-template-columns: 1fr;

    .is-active.four {
    
      transform: none;
      
    }
  }
}



/* @media only screen and (max-width: 1300px) {
  .side-bar-container {
    max-width: max(15em);
  }
} */