.App {
  font-family: sans-serif;
  text-align: center;
  background: #212429;
  display: grid;
  grid-template-columns: min-content auto max(18em);
  grid-template-rows: 2.7em 1fr;
  grid-template-areas: 
    "one two three"
    "one five three";
  grid-gap: 1em;
  height: 100vh;

  .one {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2em;
    color: #ffffff;
    margin: 0 0 0 0.8em;

    h3 {
      display: none;
    }
  }

  .two {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 1em;

    button {
      width: 2.2em;
      height: 2.2em;
      border-radius: 50%;
    }
    
    .display {
      display: none;
    }
  }

  .three {
    margin: 0 0.8em 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2em;
    justify-self: right;
    align-items: flex-end;
  }

  .four {
    grid-area: one;
    background: var(--dark--600);
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1.2em;
    /* overflow: auto; */
    width: 17em;
  
  }

  .five {
    grid-area: five;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0 .4em 0 .7em;
  }
  
  .six {
    display: grid;
    grid-template-rows: 1fr 1.7fr;
    grid-gap: 1em;
    /* width: 100%; */
    margin: 0 0.8em 0.8em 0;
    max-height: 91.5vh;

    & > div {
      background: var(--dark--600);
      border-radius: 1.4em;
    }
  }

}

//-------------desktop low --------------//

@media only screen and (max-width: 1300px) {
  .App {
    grid-template-columns: auto auto max(15em);

    .one {
      font-size: 1em;
    }
  }
}

/* -----------mobile----------- */

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 3em auto;
    grid-template-rows: auto 1fr;
    gap: 0;

    .one {
      margin: 0;
      background: #2f3034;
      border-radius: 2em 2em 0 0;
      margin-top: 1em;
      padding-top: 0.5em;
      align-items: center;
      
      h2 {
        display: none;
      }

      h3 {
        display: flex;
      }
    }

    .two {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
      padding-top: 1em;

      h3 {
        margin-left: 1em;
      }

      .display {
        display: flex;
        justify-content: space-between;
        padding-right: 1em;
        padding-left: 1em;
        
        .bubble-chat {
          background: rebeccapurple;
          position: absolute;
          right: 7vw;
          bottom: 5vw;
          height: 2.5em;
          width: 2.5em;
        }
      }
    }

    .three {
      display: none;
    }

    .four {
      margin: 0;
      width: 3em;
      gap: 0;

      .side-bar {
        border-radius: 0;
      }

      .greeting {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 0.8em;
      }
    }

    .five {
      margin-top: 1em;
    }

    .six {
      display: none;
    }

  }
}

.loading {
  background: #ffffff;
}




