.App {
  position: relative;
  font-family: sans-serif;
  background: #212429;
  overflow: hidden;
  min-width: 100vw;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 1em;
  height: 100vh;


  .one {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2em;
    color: #ffffff;
    margin: 0 0 0 0.8em;

    h3 {
      display: none;
    }
  }

  .two {
    background: var(--dark--800);
  }

  .three {
    margin: 0 0.8em 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2em;
    justify-self: right;
    align-items: flex-end;
  }

  .four {
    background: var(--dark--600);
    width: 260px;
    flex-shrink: 0;
    animation: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);

  }

  .five {
    /* grid-area: five; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: var(--dark--800);
    padding: 0 .4em 0 .7em;

    
  }
  
  .six {
    width: 280px;
    flex-shrink: 0;
    background: var(--dark--600);
    /* width: 100%; */
    /* margin: 0 0.8em 0.8em 0; */
    height: 100vh;

    /* & > div {
      background: var(--dark--600);
      border-radius: 1.4em;
    } */
  }

}

//-------------desktop low --------------//

@media only screen and (max-width: 1300px) {
  .App {
    grid-template-columns: min-content auto max(15em);

    .one {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 1210px) {
  .App {
    grid-template-columns: min-content 1fr;

    .six {
      position: fixed;
      right: 0;
      top: 0;
      transition: 0.3s;
      height: 100%;
      transform: translateX(280px);
      z-index: 4;
    }
  }
}

/* -----------mobile----------- */

@media screen and (max-width: 930px) {
  .App {
    grid-template-columns: 1fr;

    .four {
      position: fixed;
      left: 0;
      top: 0;
      transition: 0.3s;
      height: 100%;
      transform: translateX(-260px);
      z-index: 4;
    }

    .five {
      padding: 0 .5em 0 .5em;
    }
  }
}

/* @media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 3em auto;
    grid-template-rows: auto 1fr;
    gap: 0;

    .one {
      margin: 0;
      background: #2f3034;
      border-radius: 2em 2em 0 0;
      margin-top: 1em;
      padding-top: 0.5em;
      align-items: center;
      
      h2 {
        display: none;
      }

      h3 {
        display: flex;
      }
    }

    .two {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
      padding-top: 1em;

      h3 {
        margin-left: 1em;
      }

      .display {
        display: flex;
        justify-content: space-between;
        padding-right: 1em;
        padding-left: 1em;
        
        .bubble-chat {
          background: rebeccapurple;
          position: absolute;
          right: 7vw;
          bottom: 5vw;
          height: 2.5em;
          width: 2.5em;
        }
      }
    }

    .three {
      display: none;
    }

    .four {
      margin: 0;
      width: 3em;
      gap: 0;

      .side-bar {
        border-radius: 0;
      }

      .greeting {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 0.8em;
      }
    }

    .five {
      margin-top: 1em;
    }

    .six {
      display: none;
    }

  }
} */

.loading {
  background: #ffffff;
}




