.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vh);
  justify-content: center;
  height: 100%;
  gap: 2em 4em;
  margin-top: 2em;
  min-height: 67vh;

  section {
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: .5em;
    background: var(--dark--100);
    aspect-ratio: 1/1.5;
    -webkit-box-shadow: 10px 10px 10px -9px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 10px -9px rgba(0,0,0,1);
    box-shadow: 10px 10px 10px -9px rgba(0,0,0,1);

    img {
      height: 30vh;
      width: 100%;
      transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  .CardsTitle{
    cursor: pointer;
    text-decoration: none;
    color: var(--light--200);
    text-align: center;
  }

  .NotSearchFoundMangas{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    height: 100%;
    white-space: pre;
    line-height: 100%;
    overflow: visible;
    h1, h3{
        color: var(--light--200);
    }
    svg{
        fill: var(--light--200);
    }
  }


  }

  @media only screen and (max-width: 450px) {
    .cards-container {
      grid-template-columns: repeat(auto-fit, 38vw);
      gap: 2em 2em;

      section {
        height: 58vw;
      }

    }

  }