.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vh);
  justify-content: center;
  gap: 2em 4em;

  section {
    height: 30vh;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: .5em;
    background: var(--dark--100);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  }

  @media only screen and (max-width: 450px) {
    .cards-container {
      grid-template-columns: repeat(auto-fit, 38vw);
      gap: 2em 2em;

      section {
        height: 58vw;
      }

    }

  }