.manga-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  color: #ffffff;

  ::-webkit-scrollbar {
    width: 1em;
  }

    /* Track */
  ::-webkit-scrollbar-track {
    background: #a31616;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}