.form_Registration_container {
  display: flex;
  background-color: white;
  width: 50%;
  border-radius: 8px;
  height: 85%;
  justify-content: center;
  align-items: center;

    .form_Registration_title {
        height: 60px;
        margin-bottom: 20px;
    }

    .form_Registration_input {
        height: 50px;
    }
    .form_Registration_view_password {
        display: flex;
    }
    .form_Registration_view {
        width: 10px;
    }
    .form_Registration_span{
        padding-bottom: 34px;
    }
}
