.form_Registration_container {
  display: flex;
  background-color: white;
  width: 50%;
  border-radius: 8px;
  height: 85%;
  justify-content: center;
  align-items: center;

    .form_Registration_title {
        height: 50px;
        margin-bottom: 20px;
    }

    .form_Registration_input {
        height: 50px;
    }
}
