.container_input_email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.span_adv_emial{
    background-color: rgb(255, 195, 195);
    border-style: dashed;
    border-width: 1px;
    border-color: red;
    width: 60vh;
    padding: 10px;
    margin: 15px;
    margin-bottom: 50px;
}