.user-container {
  display: grid;
  grid-template-rows: 40% 1fr auto;
  color: var(--light--200);
  overflow: hidden;
  text-align: center;
  height: 210px;

  .banner {
    position: relative;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/893/690/non_2x/abstract-dark-horizontal-background-black-iron-textured-pattern-with-hexagons-steel-honeycomb-texture-wallpaper-abstract-modern-design-illustration-vector.jpg");

    .photo {
      position: absolute;
      
      left: 50%;
      transform: translatex(-50%);
      bottom: -35px;
      border: 3px solid var(--primary);
      padding: 5px;
      border-radius: 50%;
      overflow: hidden;
      display: grid;
      justify-content: center;
      align-items: center;

      img {
        height: 84px;
        width: 84px;
        object-fit: cover;
        border-radius: 50%;
      }

      svg {
        width: 100px;
      }
    }
  }

  .user-info {
    padding-top: 8%;
    box-sizing: border-box;
    align-self: center;
  }

  .btn-section {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    gap: 1em;
  }

  .btn {
    width: 100%;
    margin: 0 30px 0 30px;
  }
}

//---------------- user perfil ------------------///


.top-content {
  position: relative;
  width: 100%;

  .user-banner {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 40vh;
    min-height: 250px;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 1em;
    background: rebeccapurple;

  }

  .user-picture {
    position: absolute;
    bottom: 16px;
    left: 24px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;


    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .account-sections {
    position: absolute;
    bottom: 0;
    padding-left: 185px;
    background: var(--dark--600);
    width: 100%;
    display: flex;
    border-radius: 0 0 1em 1em;
    
    button {
      background: transparent;
      padding: 20px 16px;
      color: var(--light--200);
      transition: 0.3s;
      cursor: pointer;
      font-size: 18px;
      font-family: var(--primary-font);

      svg {
        margin-left: 5px;
        
      }

      .up {
        transform: rotate(180deg) translateY(-8px);
      }

    }

    .active, button:hover {
      color: #fff;
      background: #ea374c10;
      border-bottom: 3px solid var(--primary);
    }

    .drop-down-create {
      position: relative;

      .open {
        position: absolute;
        background: var(--dark--600);
        top: 25px;
        left: 0;
        border: solid 2px var(--light--200);
        border-radius: .5em;
        width: 100%;
        overflow: hidden;
        transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
        
        div {
          text-align: center;
          padding: .5em 0 .5em 0;
          color: var(--light--200);
          font-size: 18px;
          font-family: var(--primary-font);
          cursor: pointer;

          &:hover {
            background: var(--primary);
            color: #fff;
          }
        }

        svg {
          margin-left: 10px;
          color: white
        }
      }

      .closed  {
        display: none;
      }
    }
  }
}


.button_delete_account_user_detail {
  margin: 40px;
  border: none;
  background-color: #64666c;
  color: white;
  padding: 5px;
  border-radius: 4px;
  transition: all 250ms ease;
  &:hover {
    background-color: red;
  }
  &:active {
    background-color: rgb(146, 59, 59);
  }
}
.button_delete_account_user_detail_delete {
  margin: 40px;
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 5px;
  border-radius: 4px;
  transition: all 250ms ease;
  &:hover {
    background-color: red;
  }
}

.button_edit_profile_user_detail {
  position: absolute;
  right: 50px;
  transition: all 250ms ease;
  &:hover {
    background-color: rgb(155, 154, 154);
    border-radius: 100%;
    padding: 7px;
  }
  &:active {
    background-color: rgb(97, 95, 95);
    padding: 15px;
  }
}

.user_profile_tile_description_container {
  margin-left: 50px;
  margin-bottom: 50px;
  .name_user_user_detail_h1 {
    font-size: xxx-large;
    color: rgb(172, 169, 169);
  }

  .user_description_user_detail_p {
    font-size: large;
    color: rgb(172, 169, 169);
  }
}
//!=========================================================
.user_detail_edit_input_user_name {
  margin: 5px;
  font-size: x-large;
  width: 200px;
  border: none;
  color: rgb(172, 169, 169);
  background-color: transparent;
  transition: all 250ms ease;
  border-radius: 8px;
  &:hover {
    background-color: rgb(131, 120, 120);
  }
}

.user_detail_edit_input_description {
  margin: 5px;
  font-size: large;
  width: 400px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: rgb(172, 169, 169);
  transition: all 250ms ease;
  border-radius: 8px;
  &:hover {
    background-color: rgb(131, 120, 120);
  }
}

.user_detail_edit_label {
  color: rgb(172, 169, 169);
}

.buttons_user_detail_edit_profile {
  border: none;
  background-color: rgb(131, 120, 120);
  color: white;
  padding: 1px;
  margin: 2px;
  border-radius: 4px;
  transition: all 250ms ease;

  &:hover {
    background-color: #85434b;
  }

  &:active {
    background-color: #ed1730;
  }
}

.buttons_user_detail_edit_profile_btn {
  border: none;
  background-color: #d7727e;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin: 5px;
  transition: all 250ms ease;

  &:hover {
    background-color: #85434b;
  }

  &:active {
    background-color: #ed1730;
  }
}
