.user-container {
  display: grid;
  grid-template-rows: 40% 1fr auto;
  color: var(--light--200);
  overflow: hidden;
  text-align: center;
  /* flex-shrink: 0; */
  height: 210px;

  .banner {
    position: relative;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/893/690/non_2x/abstract-dark-horizontal-background-black-iron-textured-pattern-with-hexagons-steel-honeycomb-texture-wallpaper-abstract-modern-design-illustration-vector.jpg");
    // background-size: cover;
    /* height: 40%; */
    .photo {
      position: absolute;
      bottom: -35px;
      left: 37%;
    }
  }


  .user-info {
    padding-top: 8%;
    box-sizing: border-box;
    align-self: center;
  }

  .btn-section {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    gap: 1em;
  }



  button {
    background: var(--primary);
    border: none;
    padding: .3em .6em .3em .6em;
    color: var(--light);
    font-size: 1.2em;
    border-radius: 100vw;
  }
}

//------------prueba 011 ------- components/User -----
.banner_user_detail_s_contain {
  position: relative;
}
.banner_user_detail_s{
  width: 110vh;
}
.banner_user_detail_s_contain_icon{
  position: absolute;
  left: 54vh;
  top:30vh;
}

.images_container_user_detail {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.button_delete_account_user_detail {
    border: none;
    background-color: #64666c;
    color: white;
    padding: 5px;
    border-radius: 4px;
    transition: all 250ms ease;
    &:hover {
      background-color: red;
    }
    &:active {
      background-color: rgb(146, 59, 59);
    }
}

.button_edit_profile_user_detail{
  position: absolute;
  right: 50px;
  transition: all 250ms ease;
  &:hover {
    background-color: rgb(155, 154, 154);
    border-radius: 100%;
    padding: 7px;
  }
  &:active {
    background-color: rgb(97, 95, 95);
    padding: 15px;
  }
}