.search-container {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 1.7em;

  input {
    height: 100%;
    border: none;
    background: var(--dark--600);
    border-radius: 100vh;
    width: min(60vw, 250px);
    padding-left: 2.8em;

    &::placeholder {
      font-size: 1em;
      font-weight: 600;
      opacity: .8;
      color: var(--light--200);
  }

  }

  button { 
    position: absolute;
    left: 5px;
    top: 1.3px;
    background: transparent;
    border: none;
  }
}