.colorrr {
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vw;
    transition: all ease 800ms;
}

.image_product {
    width: 22vw;
}

.space {
    margin-bottom: 15px;
}

.title {
    text-transform: uppercase;
}

.btn {
    background-color: rgb(63, 214, 57);
    border : none ;
    color : white;
    padding: 10px;
}

.btn:hover {
    background-color: rgb(60, 165, 56);
}

.btn:active {
    background-color: rgb(46, 131, 43);
}