:root {
  /* fonts */
  /* --primary-font: 'Trebuchet MS', 'sans-serif';
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif; */

  /* colors */
  --primary: #EA374B;
  --online: #00FAA9;
  --light: #FFFFFF;
  --light--200: #9394A9;
  --dark--600: #2F3034;
  --dark--800: #212429;
  --darkest: #201C1C;
}