@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

:root {
  /* fonts */
  --primary-font: "Source Sans Pro", sans-serif;
  font-family: --primary-font;

  /* colors */
  --primary: #EA374B;
  --online: #00FAA9;
  --light: #FFFFFF;
  --light--200: #9394A9;
  --dark--600: #343539;
  --dark--800: #212429;
  --darkest: #201C1C;
}