.comments-container {
  display: grid;
  gap: 1em;
  text-align: start;

  .title-text {
    display: flex;
    gap: 1em;
  }

  .separator {
    height: 1px;
    background: var(--light--200);
  }

  .comment {
    display: flex;
    flex-direction: row;
    gap: 1em;

    .input-text {
      display: grid;
      width: 100%;

      input {
        background: transparent;
        border: none;
        border-bottom: solid var(--primary) 2px;
      }
    }
  }
}

.text {
  color: #FFF;
  width: 100px;
}

.confirmButton {
  background: var(--primary);
  color: #FFF;
  border: none;
  height: 30px;
  width: 70px;
  border-radius: 100vh;
  font-size: 17px;
}

.divSignIn {
  cursor: pointer;
}

.confirmButtonDelete {
  background: var(--primary);
  color: #FFF;
  border: none;
  height: 32px;
  width: 130px;
  border-radius: 100vh;
  font-size: 17px;
  margin-right: 10px;
}

.cancelButtonDelete {
  background: rgb(73, 71, 71);
  color: #FFF;
  border: none;
  height: 32px;
  width: 130px;
  border-radius: 100vh;
  font-size: 17px;
  margin-left: 10px;
}