.detail-container {
  display: grid;
  gap: 1em;
  color: var(--light);
  opacity: 0;

  title {
    background: var(--primary);
    display: inherit;
    min-height: 4em;
    border-radius: 1.1em;
    padding-left: 1em;
    justify-content: start;
    align-items: center;

    h2 {
      font-size: xx-large;
    }
  }

  header{
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2em;
    border-radius: 1.2em;

    .image-container {
      overflow: hidden;
      /* width: 19em; */
      height:  49vh;
      border-radius: 1em;
      aspect-ratio: 1/1.5;

      img {
        height: 100%;
        width: 100%;
        /* object-fit: cover; */
      }
    }

    .info-container {
      position: relative;
      background: var(--dark--600);
      width: 100%;
      border-radius: 1em;
      padding: 2em;

      .favorites {
        position: absolute;
        top: 2em;
        right: 2em;
      }
    }
  }

  .sub-title {
    color: var(--primary);
    text-align: start;
  }

  .chapter-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .chapter-image {
      overflow: hidden;
      /* height: 26vh;
      width: 38vh; */
      display: grid;
      grid-template-columns: min-content 1fr;
      border: 1px solid var(--light--200);
      border-radius: 1em;

      img {
        object-fit: cover;
        height: 22vh;
        width: 32vh;
      }

      div {
        padding: 1em;
        text-align: start;
        color: #fff;

        span {
          color: var(--primary)
        }
      }
    }
  }

  p {
    text-align: justify;
  }
}

.inputChooseFiles{
  input[type=”file”]#file-upload-button{
    background: var(--primary);
    color: #FFF;
    border: none;
    border-radius: 100vh;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
  }
}

.SendChapterButton{
    background: var(--primary);
    color: #FFF;
    border: none;
    border-radius: 100vh;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
    width: 50px;
}

