.detail-container {
  display: grid;
  gap: 1em;
  color: var(--light);
  opacity: 0;

  title {
    background: var(--primary);
    display: inherit;
    min-height: 4em;
    border-radius: 1.1em;
    padding-left: 1em;
    justify-content: start;
    align-items: center;

    h2 {
      font-size: xx-large;
    }
  }

  header{
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2em;
    border-radius: 1.2em;

    .image-container {
      overflow: hidden;
      width: 19em;
      height:  49vh;
      border-radius: 1em;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .info-container {
      background: var(--dark--600);
      width: 100%;
      border-radius: 1em;
      padding: 2em
    }
  }

  .sub-title {
    color: var(--primary);
    text-align: start;
  }

  p {
    text-align: justify;
  }
}